<navigation></navigation>

<div class="container">

    <div class="home-container">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded" src="/images/dadPottery.jpg">
            </div>
            <div class="col-md-10">
                <div class="jumbotron">
                    <h1>Jon Maakestad Pottery</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="error">{{ vm.message }}</div>
        <div class="row">
            <div class="home-thumbnail-container">
                <div class="panel panel-default">
                    <div class="panel-heading">Insert pleasant text here!</div>
                    <div class="panel-body gallery-body">
                        <img class="gallery-image" ng-src="images/uploads/{{vm.homeSelectedImage}}" alt="pottery" />                   
                    </div>
                    <div class="panel-footer">

                        <ul class="thumbnails list-unstyled" >
                            <div ng-repeat="potteryFileName in vm.imageThumbnails">
                                <li class="col-xs-1">
                                    <div ng-click="vm.selectImage(potteryFileName)">
                                        <div class="home-thumbnail" >
                                            <img ng-src="images/uploads/{{potteryFileName}}"
                                                                     alt="pottery" />                    
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul
                        
                        
                    </div>
                    <!--<img ng-src="/images/dadPottery.jpg" class="img-responsive" alt="dad pottery">-->
                </div>
            </div>
        </div>

        <footer-generic></footer-generic>
    </div>
