<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div ng-show="vm.formError.showError" class="panel error-panel">{{ vm.formError.message }}</div>
        <div class="form-group">
            <form id="addPottery" name="addPottery" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
                <div class="row">
                    <label for="name" class="col-xs-2 col-sm-2 control-label">Pottery Type</label>
                    <div class="col-xs-10 col-sm-10">
                        <select class="form-control" ng-model="vm.formData.type" ng-options="x as x.potteryType for x in vm.formData.potteryTypes track by x.id"></select>
                    </div>
                </div>
                <div class="row">
                    <label for="date" class="col-xs-2 col-sm-2 control-label">Pottery Description</label>
                    <div class="col-xs-10 col-sm-10">
                        <input name="date" ng-model="vm.formData.description" class="form-control" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <label for="file" class="col-xs-2 col-sm-2 control-label">Pottery Image</label>
                    <div class="col-xs-10 col-sm-10">
                        <input type="file" name="file" ngf-select ng-model="vm.formData.potteryFile" 
                         accept="image/*" ngf-max-size="5MB" required="required"/>
                    </div>
                </div>
<!--                 <div class="row">
                    <img ng-show="addPottery.file.$valid" ngf-thumbnail="images/uploads/{{vm.formData.potteryFile}}" class="thumb">
                    <button ng-click="vm.formData.potteryFile = null" ng-show="vm.formData.potteryFile">Remove</button>
                </div>  -->                                                                                             
                <button type="submit" class=" submit-button btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>
