<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="error">{{ vm.message }}</div>
    </div>
    <div class="row">
        <!-- <div class="col-xs-12 list-group-item" ng-repeat="pottery in vm.data.potteries">-->
        <ul class="thumbnails list-unstyled" >
            <div ng-repeat="pottery in vm.data.potteries">
                <li class="col-xs-4">
                    <div ng-click="vm.viewPottery(pottery)">
                        <div class="thumbnail" >
                            <div class="row">
                                <div class="col-xs-8"></div>
                                <div class="col-xs-4">
                                    <span class="pottery-type badge badge-default">{{ pottery.potteryType.potteryType }}</span>
                                </div>
                            </div>
                            <img class="img-rounded" ng-src="images/uploads/{{pottery.potteryFileName}}"
                                                     alt="pottery" />                    
                        </div>
                    </div>
                </li>
            </div>
        </ul>
        </div>

        <div class="row">
            <br />
            <footer-generic></footer-generic>
        </div>
    </div>
