<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="error">{{ vm.message }}</div>
    </div>
    <div class="row view-pottery-container">
        <div class="col-xs-6">
            <img class="view-pottery-image" ng-src="/images/uploads/{{vm.data.pottery.potteryFileName}}" alt="pottery"/>
        </div>
        <div class="col-xs-6">
            <p>{{vm.data.pottery.potteryDescription}}</p>
            
        </div>
    </div>
    <div class="row btn-group custom-btn-group">
        <button type="button" class="btn btn-secondary" ng-click="vm.deletePottery(vm.data.pottery)">Delete</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.editPottery(vm.data.pottery)">Edit</button>
    </div>

    <div class="row">
        <br />
        <footer-generic></footer-generic>
    </div>
</div>
