.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}

.label-facility {margin-right: 2px}
.rating-stars {margin-left: 3px;}
#filter {margin-left: 4px;}

.submit-button {
    float: right;
}

.crud-button {
    float: right;
    margin-right: 1%;
}

.panel-footer-button {
    float: right;
    margin-right: 1%;
    padding: 5px;
}

.error-panel {
    background-color: tomato;
    font-weight: bold;
}

.edit-button {
    float: right;
    margin-right: 1%;
    margin-top: 2%;
}

.thumbnails {
    text-align: center;
    
}
.thumbnails .thumbnail {
    display: inline-block;
    margin: 0 5px;
    margin-bottom: 15px;
}
.pottery-type {
    float: right;
}

//This works but its a bit obtrusive... I will use it on the front page but without 
//changing the size of the thumbnail
/*
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    margin-bottom:25px;
    width:185;
    height:175;
    display:block;
    z-index:999;
}
*/

.view-pottery-container {
    min-height:400px;
    font-size:20px;
}

.view-pottery-image {
    width:100%;
    height:100%;
    max-width:400px;
    max-height:350px;
    float: right;
}

.custom-btn-group {
    float: right;
}


.home-container {
    margin-top: 5em;
    background: url("/images/bannerFountain.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 40em;
    padding-right: 2em;
    padding-top: 2em;
    border: 2px solid black;
}

.home-thumbnail-container {
    padding-top: 3em;
    width: 100%;
}

.home-thumbnail {
    max-height: 3em;
    max-width: 3em;
    min-height: 3em;
    min-width: 3em;
    background-color: gainsboro;
    border: 3px solid gainsboro;
}

.home-thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    max-height: 5em;
    max-width: 5em;
    height: 5em;
    width: 5em;
    z-index:999;
    cursor: pointer;
}

.home-thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.img-rounded {
    z-index: 2;
    width:100%;
    height:17em;
    border:5px solid black;
    border-radius: 2em;
    margin-left: 2.2em;
}

.gallery-body {
    padding: 5em;
}

.gallery-image {
    border: 3em solid white;
    margin: auto;
    display: block;
    max-width:30em;
    max-height: 30em;
}

.bold-gradient {
    background-color: black;
    text-align: middle;

}

.jumbotron {
    z-index: 1;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    margin-right: 2em;
    opacity: .75;
}

.selectFilter {
    float: right;
    margin-bottom: 2em;
}

.footer-message {
    margin-top: 3em;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}


