<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="error">{{ vm.message }}</div>
    <div class="form-group">
      <div class="row">
        <label for="name" class="col-xs-2 col-sm-2 control-label">Event Name</label>
        <div class="col-xs-10 col-sm-10">
          <input name="name" ng-model="vm.formData.name" class="form-control" required="required"/>
        </div>
      </div>
      <div class="row">
        <label for="date" class="col-xs-2 col-sm-2 control-label">Event Date</label>
        <div class="col-xs-10 col-sm-10">
          <input name="date" ng-model="vm.formData.date" class="form-control" required="required"/>
        </div>
      </div>
      <div class="row">
        <label for="description" class="col-xs-2 col-sm-2 control-label">Event Description</label>
        <div class="col-xs-10 col-sm-10">
          <input name="description" ng-model="vm.formData.description" class="form-control" required="required"/>
        </div>
      </div>
      <div class="row">
        <label for="time" class="col-xs-2 col-sm-2 control-label">Event Time</label>
        <div class="col-xs-10 col-sm-10">
          <input name="time" ng-model="vm.formData.time" class="form-control" required="required"/>
        </div>
      </div>
    </div>
  </div>

  <footer-generic></footer-generic>
  </div>
